---
layout: default
ref: index
lang: pt
permalink: /pt/
---

<div class="home">
  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>        	
        <span class="post-meta">{{ post.date | date: "%d/%m/%Y"}}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-content">
         {% if post.description %}
         <p><img src="{{ post.img }}" alt="" /></p>
     	{{ post.description }}
    	{% else %}
     	{{ post.excerpt }}
    	{% endif %}  
          <a href="{{ post.url }}">leia mais...</a>
          </div>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">receba atualizações <a href="{{ "/rss.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
